<html>
	<header>
		<script
		  src="https://code.jquery.com/jquery-3.3.1.js"
		  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		  crossorigin="anonymous"></script>
		  <script type="text/javascript" src="static/chat.js"></script>
	</header>
	<body>
		<div id="random-string">

		</div>

		<div id="second-string">
			
		</div>
		<button id="target">
			click me for the first ten stories
		</button>
		<button id="second">
			click me for the next ten stories
		</button>
		
	</body>
</html>