<html>
	<header>
		<script
		  src="https://code.jquery.com/jquery-3.3.1.js"
		  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		  crossorigin="anonymous"></script>
		  <script type="text/javascript" src="static/chat.js"></script>
	</header>
	<body>
		<form action="mailto:someone@example.com" method="post" enctype="text/plain">
		Name:<br>
		<input type="text" name="name"><br>
		Your message:<br>
		<input type="text" name="message"><br>
		to whom :<br>
		<input type="text" name="comment" size="50"><br><br>
		<input type="submit" value="Send">
		<input type="reset" value="Reset">
		</form>

		
	</body>
</html>

